.container {
    text-align: center;
}

.title {
    font-size: 60px;
    margin-top: 50px;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    display: flex;
}

.title span {
    padding-left: 15px;
    color: #ff4b2b;
}

.reset-button{
    width: 250px;
    height: 100px;
    background-color: #ff4b2b;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 40px auto;
    color: #fff;
    font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
}